%h2 Типы госпитализации
%br


%table#newspaper-a
  %tr
    %th Тип
    %th
    %th

  - @hospitalization_types.each do |hospitalization_type|
    %tr
      %td= hospitalization_type.name
      %td= link_to image_tag("",:class => "ui-icon ui-icon-pencil"),edit_hospitalization_type_path(hospitalization_type)
      %td= link_to image_tag("",:class => "ui-icon ui-icon-minus"), hospitalization_type, :confirm => 'Are you sure?', :method => :delete if hospitalization_type.can_be_deleted
%br

= link_to 'Новый тип госпитализации', new_hospitalization_type_path
