		<!-- ### Post Entry Begin ###  -->
		
		<div class="post">
			
			<h2><a href="#">Welcome to Inf07</a></h2>
			<p class="posted">Posted Thursday, May 17, 2008 by Lorem Ipsum in <a href="#">Test Category</a></p>

			<div class="entry">

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam sem neque, porttitor vestibulum, porta eu, dignissim non, leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc eu nibh. Vivamus augue lacus, gravida ac, pellentesque nec, varius at, mi.</p>
			<blockquote><p>Penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ut diam sit amet leo dictum interdum. Nulla ornare nisl id elit. In consequat. Fusce sed pede. Donec quis sem et lacus feugiat nonummy. Fusce id nunc non nulla dapibus mollis.</p></blockquote>
			<p><a href="#">Vestibulum scelerisque</a>, tortor vel dignissim dapibus, sapien tellus semper velit, et rutrum magna lacus sed mauris. Nam tincidunt facilisis nisl. Mauris libero nunc, accumsan id, ultrices ac, venenatis at, nisi. Curabitur ullamcorper. Suspendisse ipsum metus, mollis id, facilisis eu, suscipit sit amet, magna. Nullam neque lorem, sollicitudin eu, elementum scelerisque, aliquam a, nunc.</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam sem neque, porttitor vestibulum, porta eu, dignissim non, leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc eu nibh. Vivamus augue lacus, gravida ac, pellentesque nec, varius at, mi.</p>

			</div>

			<p class="metadata"><a href="#" class="postcomment">Comments (4)</a></p>
			
		</div>

		<!-- ### Post Entry End ### -->
